<%= form_for @project do %>
  <%= hidden_field_tag :tab, 'custom_workflow' %>
  <%= hidden_field_tag 'project[custom_workflow_ids][]', '' %>
  <fieldset>
    <legend><%= l(:text_select_project_custom_workflows) %></legend>
    <% cws = CustomWorkflow.where(observable: CustomWorkflow::PROJECT_OBSERVABLES) %>
    <% if cws.any? %>
    <dl>
      <% cws.find_each do |w| %>
        <dt class="<%= 'disabled' unless w.active? %>">
          <label>
            <%= check_box_tag 'project[custom_workflow_ids][]', w.id, @project.custom_workflow_ids.include?(w.id) || w.is_for_all?, :disabled => w.is_for_all? %> <%= w.name %>
            <% if !w.active? %>
              (<%= l(:text_custom_workflow_disabled) %>)
            <% elsif w.is_for_all? %>
              (<%= l(:text_custom_workflow_is_for_all) %>)
            <% end %>
          </label>
        </dt>
        <dd class="<%= 'disabled' unless w.active? %>"><em><%= textilizable(w.description) %></em></dd>
      <% end %>
    </dl>
    <% else %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  </fieldset>
  <%= submit_tag l(:button_save) %>
<% end %>

